#header{
  text-align: center;
  font-size: 500%;
}
.title{
  position:relative;
   left: 50%;
   font-size: 30px;
   margin: 2%;  
    
}

#description{
  text-align: left;
    font-size: 180%;
    text-indent: 1.25em; /* Отступ первой строки */
    text-align: justify;
    margin: 5%; /* Отступы вокруг элемента */
}

#part1{
  margin-right: 30%;
}

#part2{
  float: right;
  width: 20%;
  text-align: center;
}

.weather{
  text-align: right;
    font-size: 200%;
    margin-right: 5%;
}

.weatherheader{
  text-align: right;
    font-size: 200%;
    margin-right: 5%;
}
.weatherout{
  background-color: thistle; 
  opacity: 0.8;
  text-align: right;
    font-size: 60%;
    margin-right: 5%;
}
.span4
{
  margin-right: 10%;
}
h2{
  text-align: center;
    font-size: 300%;
}

.header1{
  text-align: center;
  font-size: 300%;
}

.header2{
    text-align: center;
    font-size: 100%;
    text-indent: 2em; /* Отступ первой строки */
    text-align: justify;
    margin: 5%; /* Отступы вокруг элемента */
    padding: 5%; /* Поля вокруг текста */
}

.header3{
  text-align: center;
}

.oppo{
  display: block;
  margin: 0 auto;
  width: 100px;
}

.oppos: {
  display: block;
  size: 70px; 
}

#scroll{
  position: absolute; 
  top: 50%; 
  left: 10px;
  font-size: 15px;
  width: 800px;
  height: 100px;
  margin: 5%; 
  padding: 5px;
}

  #table{
    font-size: 30px;
  }